/*kategori*/

.kat_action {
position: absolute;
right: 5px;
text-align: right;
width: 65px;
display:inline-block;
}
.kat_nama {

left: 5px;
padding-left: 24px;
position: absolute;
display:inline-block;
}
.kat_item {
background-color:#fefefe;
 border: 1px solid #D3D3D3;
  cursor: move;
  height: 25px;
  line-height: 25px;
  padding: 5px 0;
  position: relative;
  width: 300px;
  margin-top:5px;
}
.kat_item:before{content:'\f047';margin-left:5px;}
ol, ul, li {
    list-style: none outside none;
}
.attribut_value,#data_attribut_type
{
display:none;
}
/*end kategory*/
.form-vertical
{
display:inline-block;
width:100%;
text-align:right;
}