@font-face {
    font-family: campton;
    font-weight: normal;
    src: url("fonts/Campton-Light.otf") format("opentype");
}

@font-face {
    font-family: campton;
    font-weight: bold;
    src: url("fonts/Campton-Bold.otf") format("opentype");
}
.contact-header a {
    color: #fff;
}
form#signupform .form-group .more {
    margin-left: 0;
    margin-bottom: 13px;
}
body{
	margin:0;
	font-family: campton;
	color:#000;
}
.image-detail-news, .image-detail-event {
    margin-bottom: 20px;
}
div > img{max-width:100%;}
.content-wrapper {
    padding: 40px 0;
	overflow:hidden;
}
.more:hover {background:#9d2485 ;color:#fff}
.more {
    background: #182e77;
    border: 0;
    color: #fff;
    font-weight: normal;
    border-radius: 0;
    padding: 10px 25px 8px;
    text-transform: capitalize;
    border-radius: 23px;
    line-height: normal;
}
h1.page-header {
    border: 0;
    font-weight: bold;
    color: #182e77;
	text-align:center;
	margin-top:0;
	margin-bottom:20px;
	text-transform:uppercase;
}
/* h1.page-header:after { */
    /* content: ""; */
    /* width: 60px; */
    /* height: 4px; */
    /* background: #000; */
    /* display: block; */
    /* position: relative; */
    /* margin: 20px auto 0; */
/* } */
p {
    margin: 0 0 20px;
}


/*TERAPIS*/
h2.nama-terapis {
    font-size: 16pt;
    color: #182e77;
	font-weight:bold;
}
.images-terapis {
    margin-bottom: 20px;
}
ul.sosmed-terapis li img{margin-right:7px;position:relative;top:-1px;}
ul.sosmed-terapis li a {
    color: #000;
    display: flex;
    align-items: center;
}
a.link-default {
    padding: 5px 0;
    color: #182e77;
}
.form-terapis .form-control {
    height: auto;
    padding: 9px 12px;
    border: 1px solid #aaa;
}
.form-terapis label{margin-bottom:2px;}
ul.sosmed-terapis li{margin-bottom:10px}
ul.sosmed-terapis {
    padding: 0;
    list-style: none;
    margin-bottom: 14px;
}
.certificate-terapis.row > div {
    margin-bottom: 15px;
}
.thumbnail-terapis {margin-bottom:30px}
.thumbnail-terapis > a {
    display: block;
    text-align: center;
    margin-bottom: 12px;
}
h2.title-detail-terapist {
    color: #182e77;
    font-weight: bold;
    margin-bottom: 20px;
}
.description-terapis {
    margin: 20px 0 60px;
}
.certificate-terapis{margin-bottom:20px}
.article-terapis{margin-top:60px}
.news-content {
    margin-bottom: 50px !important;
}

/*CHART BAR*/
#who-we-are .col-sm-6.chat-bar-block h1.page-header {color:#182e77}
.col-sm-6.chat-bar-block * {
    color: #000;
}
.line-bar {
    margin-bottom: 16px;
}
div#chart-bar {
    margin-bottom: 40px;
}
.bar-wrapper {
    position: relative;
    width: 100%;
    background: #ddd;
    height: 33px;
}
.line1 .persen-bar {max-width:93%}
.line2 .persen-bar {max-width:72%}
.line3 .persen-bar {max-width:38%}
.persen-bar {
    background: #182e77;
    position: absolute;
	transition:0.8s;
	animation: animate-bar 1 4s;
    top: 0;
    left: 0;
    height: 100%;
    color: #fff !important;
    padding: 8px 9px;
	width:100%;
    text-align: right;
}
@keyframes animate-bar{
	0%{
		width:0;
	}
	100%{
		width:100%;
	}
	
}

/*HEADER TOP*/
div#header-top {
    background: #111f2a;
    padding: 15px 0;
	color:#fff
}
div#header-top  ul{margin:0;}
div#header-top  p{margin:0;}
div#header-top  a{color:#fff}



/*GALLERY*/
.gallery-thumbnail {
    background: #f5f5f5;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.2);
	margin-bottom:30px;
}
.gallery_title a {
    display: block;
    color: #182e77;
    padding: 20px 20px;
}


/*NEWS*/
.dept,#eventwidget > div {
    margin-bottom: 30px;
}
.dept_title a,.newstitle a,.judulevent {
	display: -webkit-box;
	min-height:46px;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14pt;
    color: #182e77;
    margin:0 0 3px;
    line-height: normal;
}
.dept_image,.image-event {
    margin-bottom: 28px;
}
.newsshortdesc p {
    margin: 0;
}

.newsshortdesc {
    display: block;
	height:200px;
	position:relative;
    /* -webkit-box-orient: vertical; */
    /* -webkit-line-clamp: 10; */
    /* text-overflow: ellipsis; */
    /* word-wrap: break-word; */
    overflow: hidden;
}
.content-wrapper:nth-child(odd) .newsshortdesc {
    /* background: #f0f0f0; */
}
.newsshortdesc * {
    font-size: 14px !important;
}
.img-news img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    width: auto;
}
.newsshortdesc:before {
    /* content: "..."; */
    position: absolute;
    bottom: 0;
    right: 0;
    background: #fff;
}
div#contactform .more {
    margin-bottom: 10px;
}
.required{color:#f00}
.img-news {
    position: relative;
    width: 100%;
    padding-top: 60%;
    overflow: hidden;
}
.fullevent .date_news {
    border: 0;
}
.fullevent span.tglevent {
    display: inline-block;
    border: 0;
}
.newsdate, .tglevent, .date_news {
    color: #888;
    font-style: italic;
    margin-bottom: 7px;
    border-bottom: 1px dotted #aaa;
    display: block;
}



/*HEADER*/
div#social img,.footer-social img {
    height: 30px;
}
.contact-header ul {display:flex}
.contact-header li {
    display: flex;
    color: #fff;
    align-items: center;
    padding-left: 30px;
}
.contact-header img {
    height: 48px;
    margin-right: 6px;
}
.contact-header strong {
    font-size: 17pt;
    font-weight: normal;
    line-height: 1.2;
}
.navbar-inverse .navbar-toggle {
    border: 0;
    margin-top: 5px;
    margin-right: 2px;
    float: none;
}
.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #fff;
    height: 4px;
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: transparent;
}
.navbar-inverse .navbar-toggle:focus .icon-bar, .navbar-inverse .navbar-toggle:hover .icon-bar{
    background-color: #f9b81e;
}
#header-site {
    border: 0;
	padding-bottom:20px;
    border-radius: 0;
    margin: 0;
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
}
.textlogo img {
	margin-top:13px;
}
#header-site a.navbar-brand {
    font-weight: bold;
    color: #000;
    text-transform: uppercase;
    font-size: 16pt;
    height: auto;
    display: flex;
    padding-top: 0;
    padding-bottom: 0;
    line-height: normal;
    align-items: center;
    max-width: 100%;
    float: none;
    margin-left: 0;
}
span.textlogo {
    padding: 0 0 0 20px;
}
span.textlogo img {
    max-width: 100%;
    max-height: 70px;
    height: auto;
}
nav#header-site .container {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}
.contact-header {
    padding-top: 40px;
}
div#bs-example-navbar-collapse-1 {
    padding: 0;
	width:100%;
}
#menu-block .container:before,#menu-block .container:after,nav#header-site .container:before, nav#header-site .container:after{display:none}
#menu-block .block-menu-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    box-shadow: 0 0 22px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 0px 20px;
}
div#social p{margin-bottom:0}
div#menu-block {
    position: relative;
    z-index: 2;
    margin-bottom: -28px;
    margin-top: -22px;
}
.navbar-nav>li>a {
    font-weight: bold;
    color: #000;
}
.navbar-nav>li>a:hover,.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background: transparent;
    color: #9d2485;
}




/*SLIDE*/
div#slide-home .item:before {
    content: "";
    display: block;
	z-index:1;
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: 0px 170px 110px -90px rgba(255, 255, 255, 0.7) inset;
}
div#slide-home {
    position: relative;
}
#slide-home .owl-item {
    padding: 0;
}
.slide-text {
    position: absolute;
    top: 50%;
	text-align:center;
    transform: translateY(-50%) translateX(-50%);
    -o-transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
    -moz-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
    left: 50%;
    color: #000;
	padding:0 15px;
}
.slide-text h2 {
	color:#9d2485;
	font-weight: bold;
	font-size:17pt;
}
.slide-text h1 {
    font-weight: bold;
	color:#fff;
	font-size:37pt;
	text-transform:uppercase;
    margin-bottom: 20px;
}


/*strengt*/
.strengt-item {
    display: flex;
    align-items: flex-start;
}
.strengt-item img {
    width: 70px;
    padding-right: 10px;
}
div#strengt {
    background: #fff;
    padding: 90px 0;
    color: #000;
}
.title-strengt {
    padding-left: 10px;
}
.title-strengt h4 {
    font-weight: bold;
    font-size: 12pt;
}




/*WHO WE ARE*/
#who-we-are {
	/* font-weight:bold; */
	color:#fff;
	/* background:#f0f0f0; */
	padding-top:60px;
}
#who-we-are .page-header {
    text-align: left;
    margin-bottom: 20px;
    color: #fff;
    padding-bottom: 0;
    text-transform: capitalize;
}
#who-we-are .page-header:after {margin-left:0;margin-right:0}
#who-we-are .container > .row {
    display: flex;
	margin:0;
    justify-content: space-between;
	padding: 0;
	align-items:center;
}
#who-we-are .more {
    background: #182e77;
    color: #fff;
    margin-top: 0px;
    font-weight: normal;
}



/*SERVICES*/
div#services-block {
    background: #f9b81e;
	padding-bottom:130px;
}
.list-services img {
    width: 110px;
    margin: 0 auto 40px;
    display: block;
}
.list-services {
    border: 1px solid #fff;
    text-align: center;
    color: #000;
	margin-bottom:20px;
    padding:35px 15px 30px;
}
.title-service h4 {
    font-weight: bold;
    font-size: 12pt;
    margin-bottom: 15px;
}



/*FOOTER*/
footer {
    position: relative;
}
div#footer-design {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
}
div#footerlink h3 {
    margin-top: 0;
	font-size:22px;
    margin-bottom: 6px;
}
div#footerlink p {
    margin: 0 0 3px;
}
div#footerlink a{color:#cdb457}
div#footerlink {
    color: #cdb457;
    padding: 7% 0 0px;
    background: #1f155e !important;
}
#copyright a {
    color: #cdb457;
}
div#copyright  p{margin:0}
div#copyright {
    background: #1f155e;
    font-weight: normal;
    color: #cdb457;
    padding: 15px 0;
}


/*BOOK*/
.img-book img {
    max-width: 110px;
}
.img-book {
    width: 150px;
    float: left;
    padding-right: 40px;
}
.booktitle {
    font-size: 13pt;
    color: #1f155e;
    font-weight: bold;
}
.bookpenerbit {
}
.bookpenulis {
    color: #1f155e;
    font-style: italic;
}
.book-list {
    margin-bottom: 40px;
    display: block;
    overflow: hidden;
}


/*WEBMEMBER*/
.thumbnail-foto-uploaded{
    margin-top: 7px;
}
img.check-images {
    margin-left: 5px;
    margin-bottom: 4px;
	display:none !important
}
.thumb img.check-images {display:inline-block !important}
table.table-confirm tr:nth-child(1),table.table-confirm tr:nth-child(2) {border-top:0}
table.table-confirm tr {
    width: 50%;
    font-weight: 100;
    float: left;
    margin-bottom: 9px;
    border-top: 1px solid #eee;
    padding-top: 10px;
	/* color:#999 */
}
table.table-confirm,table.table-confirm tbody,table.table-confirm tr,table.table-confirm td {
    display: block;
}
table.table-confirm td:first-child {
    font-weight: bold;
    padding-bottom: 0;
	color:#000;
}
table.table-confirm tr:nth-child(2n+1) {
    clear: both;
}

form#signupform select {
    padding: 8px 12px 6px;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    border-radius: 3px;
    margin-right: 10px;
}
form#signupform .req {
    display: block;
    text-align: left;
}
label.error {
    position: relative;
    min-width: 280px;
    display: block;
    color: red;
    font-size: 9pt;
    font-weight: normal;
}
form#signupform .more {
    margin-bottom: 0;
    margin-left: 10px;
}

a.btn.btn-default.more.tombol-back {
    background: #ddd;
    color: #000;
    margin-bottom: 10px !important;
    margin-top: 10px;
}
.title-social-media{display:none !important;}
form#signupform label {
    margin-right: 20px;
	font-weight:normal;
}
.block-border {
    background: #f5f5f5;
    padding: 20px 30px 1px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}
.notice {
    font-size: 9pt;
    color: red;
    margin-top: 4px;
}
input[type=radio], input[type=checkbox] {
    margin-top: 4px;
    position: relative;
    top: -2px;
    margin-left: 0 !important;
}



/*KONTAK*/
div#noteafter iframe{max-width:100%}

.news-content .more:after {
    /* content: " >>"; */
}
.date_news.news-detail{border:0}
.page-thumbnail-agenda {
    margin-bottom: 30px;
}
.news-colx {
    margin-bottom: 0px;padding:15px 0;
}
.news-content .more:active,.news-content .more:focus {background:transparent;box-shadow:none}
.news-content .more {
    background: transparent;
    color: #f00;
	margin-top:7px;
    padding: 0;
}
.title_news_detail.title_detail h4, .title_agenda_detail h4 {
    color: #182e77;
    font-size: 22pt;
    font-weight: bold;
    border-bottom: 1px dotted #ccc;
}
td{padding:3px 5px;}
/* div#footer-design img { */
    /* max-width: none; */
/* } */
.catpage {
    margin-bottom: 20px;
}

.catpage a, .catpage b {
    padding-left: 9px;
}
.image-detail-jurnal {margin-bottom:20px;}
.descjurnal {
    margin-bottom: 20px;
}
select[name="sortbyorder"] {
    padding: 6px 8px;
    border-radius: 4px;
    margin-left: 10px;
    min-width: 140px;
}
.ebook-search input {
    padding: 6px 12px;
    border-radius: 4px;
    border: 1px solid #ccc;
}
@media(min-width:768px){
.content-detail-terapist {
    padding-left: 40px;
}
.col-sm-6.chat-bar-block {
    padding-right: 40px;
}
#who-we-are .col-sm-6.chat-bar-block h1.page-header {
    font-size: 25pt;
}
.image-detail-jurnal {
    float: left;
    padding-right: 30px;
    max-width: 40%;
}
div#book-list-thumbnail > *:nth-child(2n+1) {
    clear: both;
}
.ebook-search button {
    padding: 9px 12px;
    vertical-align: middle;
}

.col-xs-6.col-md-3:nth-child(4n+1) {
    clear: both;
}
.col-xs-6.col-md-3 {
    margin-bottom: 20px;
	text-align:center;
}
img.approve-image {
    position: absolute;
    bottom: 0;
    right: 0;
}
#signupform a.thumbnail {
    margin-bottom: 5px;
	position:relative;
}
.navbar-header {
    width: 100%;
}
#header-site a.navbar-brand {
    justify-content: center;
}
	.navbar-nav {
		float: none;
		margin: 0;
		display: flex;
		justify-content: space-evenly;
	}
div#who-we-are .row>div:last-child img {
    height: 100%;
    width: auto !important;
    min-width: 101%;
    max-width: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
	.dropdown-menu {padding:5px 0}
	.dropdown-menu>li>a {
    padding: 5px 20px;
    min-width: 210px;
}
	.navbar-nav>li {
		float: left;
		margin-right: 10px;
		margin-left: 10px;
	}
.image-detail-news{ 
    float: left;
    margin-right: 40px;
    max-width: 50%;
    margin-bottom: 10px;
}
.image-detail-event {
    margin: 0 auto 20px;
}
	.listnews > div:nth-child(3n+1){clear:both;}
	img.slide-mobile {display: none !important; }
	#button-mobile{display:none}
	#close-menu{display:none}
	.bg-black {display: none;}
	/*WHO WE ARE*/
	div#who-we-are .content-desc {
		padding-right: 50px;
        padding-bottom: 50px;
        padding-top: 50px;
		position:relative;
		background: #9d2485;
		padding-left: 50px;
		/* display: flex; */
	}
	.line-content {

		width: 100%;
		left: 0;
	}
	/* div#who-we-are .row>div:last-child img{width:100%;} */
	div#who-we-are .row>div:last-child {
		/* padding-left: 0px; */
		/* overflow:hidden; */
		/* padding-right: 0; */
	}
	.slide-text {width: 750px;}
	
	/*KONTAK*/
	div#contactform .form-group > div:last-child {
		width: 77%;
	}
	div#contactform .form-group > span:first-child {
		width: 20%;
		padding-left: 0;
		padding-top:6px;
	}
	div#contactform .form-group > div:last-child.col-md-offset-2 {
		margin-left: 20%;
	}
	div#contactform {
		width: 60%;
		float: left;
	}
	div#noteafter {
		float: left;
		width: 40%;
		padding-left: 30px;
	}

}
.jurnal-list {
    margin-bottom: 20px;
}
.jurnaltitle a {
    display: block;
    text-align: center;
    color: #000;
    padding: 9px 0;
}

.box {
    line-height: 23px;
    margin: 0 0 16px;
    padding: 14px 18px 13px;
}

.box {
    background: none repeat scroll 0 0 #fbfbfb;
    border: 1px solid #d6d4d4;
}
.ebook-tabs {
    margin-bottom: 20px;
}
.page-subheading {
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 12px;
    padding: 0 0 15px;
    text-transform: uppercase;
}
.page-subheading {
    border-bottom: 1px solid #d6d4d4;
    color: #555454;
}
@media(min-width:992px){
	div#jurnal-list > *:nth-child(5n+1) {clear:both}
	div#jurnal-list > * {
		width: 20%;
	}
	.slide-text {width: 970px;}
}
@media(min-width:1200px){
	.container{width:1080px}
	.slide-text {width: 1080px;}
}

@media(max-width:991px){
	.navbar-brand>img {display: block;height: 45px;}
	.navbar-inverse .navbar-nav>li {margin-left: 8px;}
	#header-top .col-sm-6:first-child {width: 100%;}
	#header-top .col-sm-6.text-right {display: none;}
}
@media(max-width:767px){
	#who-we-are .content-desc {
		background: #9d2485;
		margin: 0 -15px;
		padding: 35px 30px;
		margin-top: 30px;
	}
.ebook-search input {
    width: 100%;
}
div#filter-ebook .ebook-search {
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
}
div#filter-ebook {
    display: block;
    padding: 16px 20px;
}
.sortbyorder {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 11px;
}
select[name="sortbyorder"] {
    margin-left: 0;
}
	div#jurnal-list > *:nth-child(2n+1) {clear:both}
	div#jurnal-list > * {
		width: 50%;
		float:left
	}
	div#footerlink table {width: 100% !important;}
	.textlogo{display:none !important}
	.title_news_detail.title_detail h4, .title_agenda_detail h4 {font-size:20pt}
	.image-detail-news, .image-detail-event {
		margin-bottom: 20px;
	}
	div#footerlink table{
		margin: 0 auto;
		text-align: left;
	}
div#footerlink {
    /* text-align: center; */
    padding-top: 60px;
}
	/* #menu-block .block-menu-line{display:none} */
	.dept,#eventwidget > div {
		margin-bottom: 60px;
	}
	.dept:last-child,#eventwidget > div:last-child {margin-bottom:0}
	img{max-width:100%;}
	.navbar-header:after{display:none}
	#slide-home img{display:none}
	#slide-home img.slide-mobile {display:block}
	.contact-header {display: none;}
	.table-default,.table-default tbody,.table-default tr, .table-default td{
		display:block;
		width:100% !important
	}
	#header-site a.navbar-brand{float:none}
	.navbar-header:before {display:none}
	.navbar-inverse .navbar-brand{padding-left:0 !important}
	.navbar-header {
		display: flex;
		width: 100%;
		justify-content: space-between;
		margin-left: 0 !important;
	}
	div#header-top {display: none;}
	.slide-text {
		position: relative;
		transform: translateY(0) translateX(0);
		top: 0;
		left: 0;
	}
	div#slide-home img {
		position: relative;
		width: 100%;
		max-width: 100%;
		height: auto;
		right: 0;
	}
	.slide-text *{position:relative}
	.slide-text:before {
		content:"";
		display:block;
		position:absolute;
		width:100%;
		height:100%;
		top:0;
		left:0;
		background:rgba(0, 0, 0, 0.3);
	}
	.slide-text {
		position: absolute;
		transform: translateY(0) translateX(0);
		-o-transform: translateY(0) translateX(0);
		-webkit-transform: translateY(0) translateX(0);
		-moz-transform: translateY(0) translateX(0);
		-ms-transform: translateY(0) translateX(0);
		top: 0;
		left: 0;
		text-align: center;
		padding: 20px 16px;
		color: #fff;
		bottom: 0;
		width: 100%;
		align-items: center;
	}
	.slide-text h1 {
		font-size: 20pt;
		width: 100%;
		height: 48%;
		display: flex;
		justify-content: center;
		align-items: flex-end;
	}
	div#call-block .container {
		display: block;
		text-align: center;
		padding: 20px 15px;
	}
	div#call-block h2 {
		margin-bottom: 12px;
	}
	div#strengt {
		padding: 40px 20px;
	}
	.strengt-item img {
		width: 60px;
		padding-right: 10px;
	}
	.title-strengt h4 {
		margin-top: 0;
	}
	.strengt-item {
		margin-bottom: 20px;
	}
	#strengt .col-sm-3:last-child .strengt-item {margin-bottom:0}
	#who-we-are .container > .row{display:block;padding-bottom:0}
	div#who-we-are {
		padding: 40px 0px 0;
		/* background: #9d2485; */
	}
	#who-we-are .page-header{font-size:23pt}
	#who-we-are .col-sm-6.col-sm-pull-6 {
		padding: 0;
		margin: 40px -15px 0;
	}
	div#footerlink .row > div {
		margin-bottom: 50px;
		padding:0 30px
	}
	div#footerlink .row > div:last-child {
		margin-bottom: 0;
	}
	div#copyright {
		padding: 15px 15px;
		text-align:center;
	}
	.navbar-collapse {
		-webkit-transition: -webkit-transform 0.4s ease;
		transition: -webkit-transform 0.4s ease;
		transition: transform 0.4s ease;
		transition: transform 0.4s ease, -webkit-transform 0.4s ease;
		overflow-x: visible;
		border-top: none !important;
		box-shadow: none !important;
		display: block;
		visibility: visible;
		position: fixed;
		opacity: 1;
		box-shadow: none !important;
		-moz-box-shadow: none !important;
		-webkit-box-shadow: none !important;
		-o-box-shadow: none !important;
		width: 300px;
		top: 0;
		right:0;
		height: 100% !important;
		background: #fff;
		max-width: 80vw;
		padding: 0 25px;
		z-index: 9999;
		-webkit-transform: translate3d(100%, 0, 0);
		transform: translate3d(100%, 0, 0);
	}
	.navbar-nav {
		margin: 7.5px 10px 7.5px 10px;
	}
	.navbar-inverse .navbar-nav>li>a {
		color: #000;
		font-weight: normal;
		padding: 5px 10px;
		margin-bottom: 26px;
		margin-top: 0;
		text-transform: uppercase;
	}
	.navbar-collapse.in, .navbar-collapse.collapsing {
		visibility: visible;
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	.bg-black {
		position: fixed!important;
		top: 0!important;
		left: 0!important;
		width: 100vw!important;
		height: 100vh!important;
		opacity: 0.2;
		display: none;
		background-image: none!important;
		background-color: #000;
		z-index: 999;
	}
	.menu-active .bg-black {
		display: block;
	}
	.menu-active{overflow:hidden;}
	div#menu-block #social {display: none;}
	#menu-block .block-menu-line {padding: 0;}
	div#menu-block{margin:0}
	div#close-menu {
		font-size: 22pt;
		padding:0 14px !important;
		z-index: 9999;
		color: #000;
		text-align: right;
		font-weight: bold;
		right: 0;
		top: 0;
		line-height: 50px;
		position: relative;
		margin-bottom: 17px;
		margin-top: 3px;
	}
	.navbar-inverse .navbar-nav>li {
		margin-left: 15px;
	}
	#who-we-are .slideInRight,#who-we-are .slideInLeft {
		animation-name: fadeInUp !important;
	}
	#button-mobile{
		position: fixed;
		bottom: 0;
		width:100%;
		z-index:4;
		text-align:center;
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}
	.button-mobile-toggle {
		width: 150px;
		height: 40px;
		background:url(images/button-mobile.png)no-repeat 50% -430px/430px;
		margin:0 auto;
		display:block;
	}
	.menu-button-mobile ul.list-inline li a{display:block;height:100%;}
	.menu-button-mobile ul.list-inline li span{width: 40px;height: 100%;background:url(images/button-mobile.png)no-repeat 0 0/430px;display:inline-block;}
	.menu-button-mobile ul.list-inline li span.button-menu-icon {
		background-position: -376px -9px;
		background-size: 470px;
	}
	.menu-button-mobile ul.list-inline li span.button-phone-icon{background-position:-82px -6px;}
	.menu-button-mobile ul.list-inline li span.button-mail-icon{background-position:-147px -6px;}
	.menu-button-mobile ul.list-inline li {
		width: 50%;
		float: left;
		height: 53px;
		margin: 0;
		border-left: 1px solid #d9d9d9;
		border-left-color: #bbb;
	}
	.menu-button-mobile ul.list-inline li:first-child {
		border-left: 0px solid;
	}
	.menu-button-mobile ul.list-inline:after{content:"";clear:both;display:block}
	.menu-button-mobile ul.list-inline {
		margin: 0;
		text-align: center;
		background: rgba(255, 255, 255, 0.95);
		box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.5);
		-ms-box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.5);
		-moz-box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.5);
		-webkit-box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.5);
	}
	.button-wa-icon {
		background-position: -343px -6px !important;
	}
	span.button-email-icon {
		background-position: -147px -6px !important;
	}
	span.button-map-icon {
		background-position: -215px -6px !important;
	}
	body {
		padding-bottom: 53px;
	}
	#header-site a.navbar-brand {max-width: calc(100% - 60px);padding-bottom:14px;}
	.navbar-brand>img {display: block;height: 110px}
	.navbar-nav .open .dropdown-menu>li>a {
		padding: 10px 15px 11px 25px;
	}
}