.download_content .xdata {width:25%;text-align:center;}
.download_conten,.download_content {
    list-style: none;
    padding: 0;
    margin: 0 0px 70px;
    clear: both;
    /* overflow: hidden; */
}
h2.category-name {
    font-weight: bold;
    border-bottom: 1px dotted #aaa;
    margin-bottom: 20px;
    padding-bottom: 7px;
    text-align: left;
    padding-left: 10px;
}
#filter-ebook{
    padding: 25px 30px;
    background: #f5f5f5;
    border-radius: 5px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
li.xdata:nth-child(4n+1) {clear:both}
.download_conten .item {
    text-align: center;
	margin-bottom:25px;
}
.download_conten .owl-prev {
    position: absolute;
    top: 50%;
    left: -40px;
    /* background: rgba(0, 0, 0, 0.5); */
    margin: 0;
    width: 40px;
    padding: 15px 11px;
    border-radius: 0;
    margin-top: -28px;
	font-size:0;
}
.download_conten .owl-controls {
	position:absolute;
	height:0;
	top:50%;
	margin-top:-50px !important;
}
.download_conten .owl-next {
    position: absolute;
    top: 50%;
    right: -40px;
    /* background: rgba(0, 0, 0, 0.5); */
    margin: 0;
	font-size:0;
    width: 40px;
    padding: 15px 11px;
    border-radius: 0;
    margin-top: -28px;
}
/* .xdata a:hover {text-decoration:none;background:#43a5d5;color:#fff} */
.download_conten  td{vertical-align:middle !important}
.download_conten  a,.download_content  a {
    /* display: block; */
    /* padding: 4px 5px; */
    /* border:1px solid #ccc; */
    margin-bottom: 0px;
    margin-top: 0px;
}
.judul-ebook {
    font-size: 13pt;
    color: #1f155e;
    font-weight: bold;
    margin-bottom: -3px;
    margin-top: 13px;
}
.judul-ebook a {
    color: #1f155e;
    border: 0;
}
.xdata img.thumbnail {
    margin-bottom: 7px;	display:inline-block;
	width:100%;
}
.images-detail-ebook {margin-bottom: 20px;max-width:100%;}
.penulis-ebook {
    color: #1f155e;
    font-size: 13pt;
    border: 0;
    font-weight: bold;
    border-bottom: 1px dotted #ccc;
    margin-bottom: 20px;
    padding-bottom: 5px;
}
@media (min-width:768px){
	.images-detail-ebook {
		float: left;
		margin-bottom: 20px;
		padding-right: 30px;
		max-width: 40%;
		background: #fff;
		position: relative;
	}
	div#ebook-detail .more {
    float: right;
    position: relative;
    top: -4px;
}
}
@media (max-width:767px){
	div#ebook-detail .more{margin-bottom:10px}
li.xdata:nth-child(4n+1) {clear:none}
li.xdata:nth-child(2n+1) {clear:both}
li.xdata {
	width:50%;
	text-align:center;
}
}
