.ongkir_citynotfound {
    background-color: #FFFFFF;
    bottom: 0;
    padding-top: 9px;
    position: relative;
    text-align: center;
    display: block;
    width: 100%;
}
tbody#postagetablebody td:last-child a {
    display: block;
    width: 24px;
    height: 24px;
}
.rekening_logo > img {
  height: 54px;
}
.rekening_info {
  padding: 5px;
  vertical-align: top;
}
.rekening_logo {
  padding: 5px;
}
.css_quantity {
    margin-bottom: 6px;
    text-align: center;
}
a#qtyminus {
    border-radius: 4px 0 0 4px;
}
.css_quantity .qty-trigger {
    background: #ddd;
    width: 35px;
    display: inline-block;
    height: 35px;
    line-height: 35px;
    color: #333;
    text-align: center;
    vertical-align: middle;
}
.css_quantity .qty-trigger i {
    margin: 0;
    padding: 0;
}
.cart_quantity input.cart_quantity_input {
    margin-bottom: 8px;
    width: 85px;
    margin: 0 auto 5px;
    display: block;
}
span.lblcart_quantity_input {
    border: 1px solid #ddd;
    height: 35px;
    display: inline-block;
    vertical-align: middle;
    line-height: 35px;
    width: 54px;
    font-weight: bold;
}
a#qtyplus {
    border-radius: 0 4px 4px 0;
}
.cart_quantity {
    width: 150px;
}
th.cart_product {
    width: 11%;
}
.senderisreceiver {
    margin-bottom: 30px;
}
.checkout-form h4 {
    border-bottom: 1px dotted;
    font-weight: bold;
    color: #000;
    padding-bottom: 2px;
}
input[type=radio], input[type=checkbox] {
    margin: 4px 0 0;
    margin-top: 1px \9;
    line-height: normal;
    box-shadow: none;
    position: relative;
    top: 0;
    margin-left: 4px !important;
    margin-right: 5px !important;
    width: 19px !important;
    height: 19px;
    vertical-align: bottom;
}
div#form-ongkir.hide_divx {
    padding-left: 0px;
    margin-top: 22px;
}
div#form-ongkir.hide_divx h4 {
    font-size: 11pt;
}
table.list-ongkir {
    position: relative;
    margin-bottom: 30px;
}
.list-ongkir input[type="radio"] {
    margin:  0 !important;
}
#checkout-form .biodatabawah {
    margin-top: 50px;
}
label#terms-error {
    position: absolute;
    top: 100%;
    margin: 0 0 0 5px;
}
label{
    position:relative
}
input#cari-ongkir-kota-kab {
    margin-top: 8px;
}
.block-postage {
    padding-left: 0;
}
.cart-postage {
    margin-top: 15px;
}
div#form-ongkir.hide_divx {
    padding-left: 20px !important;
    margin-top: 22px;
    max-height: 350px;
    overflow-y: scroll;
}

.mfp-hide {
  display: none !important; }